$bgColor: #512da8;
$white: #f9f9f9;
$primary: #3740e3;
$secondary: #e4eff3;
$accent: #1da17e;

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bgColor;

  .content {
    z-index: 2;
  }

  .circle-1 {
    position: absolute;
    top: -100px;
    left: -100px;
    width: 600px;
    height: 600px;
    border-radius: 100%;
    background-color: #5e35b1;
    z-index: 1;
    mix-blend-mode: overlay;
  }

  .circle-2 {
    position: absolute;
    top: -100px;
    left: -100px;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    background-color: #303f9f;
    z-index: 1;
    mix-blend-mode: overlay;
  }
}

.chat {
  width: 50vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: 10px;

  @media (max-width: 1024px) {
    width: 70vw;
    height: 80vh;
  }

  @media (max-width: 768px) {
    width: 80vw;
    height: 90vh;
  }

  @media (max-width: 500px) {
    width: 100vw;
    border-radius: 0;
    height: 100vh;
  }
}

.side-bar {
  width: calc(35% - 10px);
  height: 100%;
  background-color: $white;
  border-radius: 10px;
}

.messages {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 100%;
  overflow: auto;
  // padding: 5px;
  // align-items: center;
}

.chat-header {
  height: 50px;
  width: 100%;
}

.input-toolbar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .input-box {
    background-color: $secondary;
    height: 45px;
    width: 80%;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;

    input {
      width: 80%;
      color: $accent;
      font-size: 16px;
      padding-left: 10px;
      border: none;
      background-color: transparent;

      &:focus {
        border-radius: 100%;
      }
    }
  }
  .icon-container {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: $secondary;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.received-message {
  width: fit-content;
  padding: 3px 10px;
  background-color: $primary;
  margin: 10px 200px 10px 5px;
  align-self: flex-start;
  border-radius: 20px;
  border-top-left-radius: 0;
  color: $white;

  @media (max-width: 768px) {
    margin: 10px 80px 10px 5px;
  }

  @media (max-width: 500px) {
    margin: 10px 40px 10px 5px;
  }

  .username {
    font-size: 14px;
    color: black;
    margin: 0;
  }

  .message {
    margin: 0;
    margin-top: 5px;
  }
}

.admin-message {
  width: fit-content;
  max-width: 80%;
  padding: 3px 10px;
  border-radius: 3px;
  background-color: $primary;
  align-self: center;
  border-radius: 20px;
  color: $white;
  margin: 20px 0;

  .username {
    font-size: 14px;
    color: black;
    margin: 0;
    text-align: center;
  }

  .message {
    margin: 0;
    margin-top: 5px;
  }
}

.sent-message {
  width: fit-content;
  padding: 2px 5px;
  background-color: $secondary;
  margin: 10px 5px 10px 200px;
  align-self: flex-end;
  border-radius: 20px;
  border-bottom-right-radius: 0;
  color: $accent;

  @media (max-width: 768px) {
    margin: 10px 5px 10px 80px;
  }

  @media (max-width: 500px) {
    margin: 10px 5px 10px 40px;
  }

  .message {
    margin: 10px 5px 5px 5px;
  }
}

.timestamp {
  font-size: 10px;
  text-align: right;
  margin: 5px 5px 0 0;
}

.join-container {
  width: 30vw;
  height: 40vh;
  display: flex;
  flex-direction: column;

  @media (max-width: 1024px) {
    width: 70vw;
  }

  @media (max-width: 768px) {
    width: 80vw;
  }

  @media (max-width: 500px) {
    width: 90vw;
    border-radius: 0;
  }

  p {
    line-height: 5px;
    margin-top: 30px;
    color: $white;
  }

  input {
    height: 40px;
    border-radius: 20px;
    border: 1px solid $secondary;
    background-color: $white;
  }

  .button {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 20px;
  }
}
